.jumbotron
  %h1 Eggs-cellent Egg Tracking
  %p 
    Welcome to Eggs-cellent Egg Tracking, a simple tool to help you keep track of
    .list-group
      %button{type: 'button', class: 'list-group-item'} The productivity of the flocks producing eggs
      %button{type: 'button', class: 'list-group-item'} The ratios of washed and wasted eggs
      %button{type: 'button', class: 'list-group-item'} Trends over time
  %p
    %a.btn.btn-primary.btn-lg{href: "#", role: "button"} Learn more
