.jumbotron
  %h1 Eggs-cellent Egg Tracking
  %p 
    Welcome to Eggs-cellent Egg Tracking, a simple tool to help you keep track of flocks and eggs
  %p
    %a.btn.btn-primary.btn-lg{href: "#", role: "button"} Learn more
