.page-header
  = link_to new_tray_type_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Tray Type

%h1 Tray Types

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th.text-center Type
        %th
        %th

    %tbody
      - @tray_types.each do |tray_type|
        %tr
          %td.text-center
            = link_to tray_type.type, tray_type
          %td.text-center
            = link_to 'Edit', edit_tray_type_path(tray_type), class: 'btn btn-primary'
          %td.text-center
            = link_to 'Destroy', tray_type, data: { confirm: 'Are you sure?' }, method: :delete, class: 'btn btn-default'
