.access-button {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  padding-top: 5px;
}

.footer {
  position: relative;
  bottom: 0;
  width:  100%;
  height: 60px;
  background-color: "#f5f5f5";
}

.control-label {
  margin-right: 10px;
}

.panel-heading.lead {
  margin-bottom: 0px;
}