.navbar-header
  %button.navbar-toggle.collapsed{data:{toggle: "collapse", target: "#app-functions"}}
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  %a.navbar-brand{href: "/"}
    Eggs-cellent
